#heading{
    color:rgb(99, 5, 5);
    margin-top: 3%;
    margin-left: 2%;
}

#content{
    margin-top: 3%;
    margin-left: 1%;
}

.incomItem {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.comItem {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:line-through;
    text-decoration-thickness: 7%;
    text-decoration-color: brown;
    font-size: large;
}

#itemForm {
    margin-left: 2%;

}

#comHeading {
    margin-left: 2%;
    margin-top: 1%;

}